@import "tailwindcss";

@theme {
  /* Özel animasyonumuzu tanımlıyoruz */
  @keyframes fadeOut {
    from { 
      opacity: 1; 
      transform: translateY(0); 
    }
    to { 
      opacity: 0; 
      transform: translateY(-10px); 
      visibility: hidden; 
    }
  }
}